$color_1: #88a0bc;
$color_2: #0cc776;
$color_3: #375c88;
$color_4: #f8c58e;
$color_5: #dce9f9;
//////////////////////////////////
$nav_magassag: 6rem;
//////////////////////////////////

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: calc(
    24px + (45 - 24) * ((100vw - 768px) / (1920 - 768))
  ); /*1920px-nél 4.5rem (45px) a betű, 500px-nél 2.4rem-es*/
  color: $color_2;
}

h3 {
  color: $color_3;
  font-size: calc(
    18px + (26 - 18) * ((100vw - 768px) / (1920 - 768))
  ); /*1920px-nél 2.6rem (26px) a betű, 768px-nél 1.8rem-es*/
}

p {
  color: $color_1;
  font-weight: 300;
  font-size: calc(
    14px + (18 - 14) * ((100vw - 768px) / (1920 - 768))
  ); /*1920px-nél 1.8rem (18px) a betű, 768px-nél 1.4rem-es*/
  line-height: calc(20px + (24 - 20) * ((100vw - 768px) / (1920 - 768)));
}

#visszaNyil {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  color: $color_2;
  font-size: 4rem;
  z-index: 52;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;

  @media only screen and (max-width: 768px) {
    bottom: 4rem;
    right: 2rem;
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: auto;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.nav {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  height: $nav_magassag;
  //padding: 0 3rem;
  font-size: calc(
    14px + (18 - 14) * ((100vw - 768px) / (1920 - 768))
  ); /*1920px-nél 1.8rem (18px) a betű, 768px-nél 1.4rem-es (14px).*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    height: auto;

    .menu {
      width: 100%;
    }
    .logo {
      display: none;
    }
    .menu__bar {
      flex-direction: column;
      text-align: center;
      font-size: 1.4rem;
    }
    .menu__item {
      background-color: rgba($color_1, 0.2);
      &:hover {
        background-color: $color_1;
      }
    }
  }
}
.logo {
  color: $color_1;
}
.menu {
  &__bar {
    display: flex;
  }

  &__item,
  &__item:link,
  &__item:visited {
    list-style-type: none;
    color: $color_1;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $color_2;
    }

    &:not(:last-child) {
      margin-right: 2.5vw;
    }
    @media only screen and (max-width: 768px) {
      padding: 1rem;

      &:hover {
        color: #fff;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  .active {
    color: $color_2;
  }
}

.main {
  grid-row: 2/3;
  grid-column: 2/3;
  height: calc(100vh - #{$nav_magassag});
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    height: auto;
    flex-direction: column-reverse;
  }

  &__bal {
    width: 70%;

    @media only screen and (max-width: 768px) {
      margin-top: 3vh;
      width: 80%;
      text-align: center;
    }

    h1 {
      margin-bottom: 4rem;
    }
    p {
      width: 80%;
      margin-bottom: 6rem;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .btn_1,
    .btn_1:link,
    .btn_1:visited {
      color: #fff;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );

      @media only screen and (max-width: 330px) {
        margin: 0 0 2rem 0;
      }
    }
    .btn_2,
    .btn_2:link,
    .btn_2:visited {
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color_2 50%
      );
    }
  }

  .illustration {
    width: 40%;

    @media only screen and (max-width: 768px) {
      width: 60%;
      margin-top: 5vh;
    }
  }
}

/* Gombok */
.btn_1,
.btn_2 {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $color_2;
  border-radius: 3rem;
  color: $color_2;
  font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1920 - 768)));
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;

  @media only screen and (max-width: 768px) {
    margin-bottom: 5rem;
  }
}
.btn_1,
.btn_1:link,
.btn_1:visited {
  background-color: $color_2;
  color: #fff;
  margin-right: 8%;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 210%;

  @media only screen and (max-width: 330px) {
    margin: 0 0 2rem 0;
  }

  &:hover,
  &:active {
    color: $color_2;
    background-position: 100%;
  }
}
.btn_2,
.btn_2:link,
.btn_2:visited {
  background-color: #fff;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color_3 50%
  );
  background-size: 210%;

  &:hover,
  &:active {
    color: #fff !important;
    background-position: 100%;
  }
}
/*****************************
Oktatást segító programok rész
******************************/
.programok_container {
  display: grid;
  grid-template-columns: 1fr 65% 1fr;
  grid-template-rows: auto;
  background-color: #f5f6f8;
  height: auto;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .programok {
    grid-row: 1/2;
    grid-column: 2/3;

    h1 {
      margin: 10rem 0 5rem 0;
      text-align: center;
      color: $color_2;

      @media only screen and (max-width: 768px) {
      margin: 5rem 0;
      }
    }

    .billgyak {
      margin-bottom: 5rem;
      padding: 3rem;
      width: 100%;
      height: auto;
      background-color: #f5f6f8;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 768px) {
        height: auto;
        flex-direction: column;
        margin-bottom: 0rem;
      }

      &__szoveg {
        text-align: justify;
        padding-left: 3rem;

        @media only screen and (max-width: 768px) {
          width: 90%;
          text-align: center;
        }

        h3,
        p {
          margin-bottom: 3rem;
        }
      }

      .btn_2,
      .btn_2:link,
      .btn_2:visited {
        margin-top: 2rem;
        border: 1px solid $color_1;
        color: $color_1;
      }

      &__kep {
        width: 30%;

        @media only screen and (max-width: 768px) {
          width: 50%;

        }
      }

      .egergyak {
        background-image: none;
        cursor: auto;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}

/*****************************
Idézet rész
******************************/

.idezet_container {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: auto;
  background-color: $color_3;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }  
}
.idezet {
  grid-row: 1/2;
  grid-column: 2/3;

  height: 25rem;
  font-family: "Indie Flower", cursive;  
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 3rem;
    text-align: center;
  }

  h3 {
    font-size: calc(18px + (26 - 18) * ((100vw - 768px) / (1920 - 768)));
    letter-spacing: .2rem;
    line-height: calc(24px + (36 - 20) * ((100vw - 768px) / (1920 - 768)));
    color: #fff;
  }
  p {    
    margin: 2rem 0 0 5rem;

    @media only screen and (max-width: 768px) {
      margin: 2rem 0 0 0;
    }
  }
}
