$color_1: #88a0bc;
$color_2: #0cc776;
//////////////////////////////////
$nav_magassag: 6rem;
//////////////////////////////////

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.nav {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  height: $nav_magassag;
  font-size: calc(
    14px + (18 - 14) * ((100vw - 768px) / (1920 - 768))
  ); /*1920px-nél 1.8rem (18px) a betű, 768px-nél 1.4rem-es (14px).*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    height: auto;

    .menu {
      width: 100%;
    }
    .logo {
      display: none;
    }
    .menu__bar {
      flex-direction: column;
      text-align: center;
      font-size: 1.4rem;
    }
    .menu__item {
      background-color: rgba($color_1, 0.2);
      &:hover {
        background-color: $color_1;
      }
    }
  }
}
.logo {
  color: $color_1;
}
.menu {
  &__bar {
    display: flex;
  }

  &__item,
  &__item:link,
  &__item:visited {
    list-style-type: none;
    color: $color_1;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $color_2;
    }

    &:not(:last-child) {
      margin-right: 2.5vw;
    }
    @media only screen and (max-width: 768px) {
      padding: 1rem;

      &:hover {
        color: #fff;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  .active {
    color: $color_2;
  }
}

.main {
  grid-row: 2/3;
  grid-column: 2/3;
  height: calc(100vh - #{$nav_magassag});
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    height: calc(100vh - 18rem);
    flex-direction: column-reverse;
  }

  &__bal {
    width: 70%;
    font-size: calc(
      14px + (18 - 14) * ((100vw - 768px) / (1920 - 768))
    ); /*1920px-nél 1.8rem (18px) a betű, 768px-nél 1.4rem-es*/

    @media only screen and (max-width: 768px) {
      margin-top: 5rem;
      width: 80%;
      text-align: center;
    }

    h1 {
      font-size: calc(
        24px + (45 - 24) * ((100vw - 768px) / (1920 - 768))
      ); /*1920px-nél 4.5rem (45px) a betű, 500px-nél 2rem-es*/
      color: $color_2;
      margin-bottom: 4rem;
    }
    p {
      width: 80%;
      color: $color_1;
      margin-bottom: 6rem;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .btn_1,
    .btn_2 {
      display: inline-block;
      padding: 1rem 2rem;
      border: 1px solid $color_2;
      border-radius: 3rem;
      color: $color_2;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
    }
    .btn_1,
    .btn_1:link,
    .btn_1:visited {
      background-color: $color_2;
      color: #fff;
      margin-right: 8%;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 210%;

      @media only screen and (max-width: 310px) {
        margin: 0 0 2rem 0;
      }

      &:hover,
      &:active {
        color: $color_2;
        background-position: 100%;
      }
    }
    .btn_2,
    .btn_2:link,
    .btn_2:visited {
      background-color: #fff;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color_2 50%
      );
      background-size: 210%;

      &:hover,
      &:active {
        color: #fff;
        background-position: 100%;
      }
    }
  }

  &__jobb {
    width: 50%;
    height: auto;

    @media only screen and (max-width: 768px) {
      width: 61%;
    }
  }
  .illustration {
    width: 100%;
  }
}
